<!doctype html>
<html>
  <head>
    <title><%=forumName%> - Welcome</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=forumName%></h1>
    <div>
      <!-- <ul class = "nav">
            <li><p><a href="about">About</a></p></li>
            <li><p><a href="viewposts">Posts</a></p></li>
            <li><p><a href="users">Users</a></p></li>
            <li><p><a href="topics">Topics</a></p></li>
            <li><p><a href="addpost">New Post</a></p></li>
            <li><p><a href="search">Search </a></p></li>
            <li><p><a href='login'>Login</a></p></li>
          </ul> -->
            
          <div class="container">
            <div class="nav1container">
            <ul class="nav">
              <li><div><a href='./'>Home</a></div></li>
              <li><div><a  href='/about'>About</a></div></li>
              <li><div><a href="/viewposts">Posts</a></div></li>
              <li><div><a href="/users">Users</a></div></li>
              <li><div><a href="/topics">Topics</a></div></li>
              <li><div><a href="/addpost">New Post</a></div></li>
              <li><div><a href="/search">Search </a></div></li>
            </ul>
            </div>
            <div class="nav2container">
            <ul class="nav">
              <li><div><a class="active" href='/login'>Login</a></div></li>
              <li><div><a href='/register'>Register</a></div></li>
              <li><div><a href='/logout'>Logout</a></div></li>
            </ul>
            </div>
          </div>
 
      </div>
  </body>
</html>
